@font-face {
  font-family: "NPR";
  src: url(fonts/NPR.otf);
}
@font-face {
  font-family: "NPB";
  src: url(fonts/NPB.otf);
}
@font-face {
  font-family: "NPSB";
  src: url(fonts/NPSB.otf);
}

/*--------------- basic styling --------------- */

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "NPR" !important;
      background: #0f0f0f !important;
      color: #fff !important;
}

::selection {
  background: rgba(0,255, 0, 0.15);
  color: rgb(0,255, 0);
  text-shadow: 0.015em 0.015em 0.05em rgba(0,0,0,0.3);
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- hero section --------------- */

.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      line-height: 58px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
}

/*--------------- projects section --------------- */
h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 500px;
}

.project1 {
      background: url(https://images.unsplash.com/photo-1540349220179-09d3866f2e74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project1::after {
      content: "timeless flow.";
      font-family: "NPR";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 8%;
      left: -60%;
      right: 0;
      bottom: 0;
}

.project2 {
      background: url(https://images.unsplash.com/photo-1468870045442-e7d799d8c98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project2::after {
      content: "foretime.";
      font-family: "NPR";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: 90%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url(https://images.unsplash.com/photo-1482501157762-56897a411e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project3::after {
      content: "never again.";
      font-family: "NPR";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: -50%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url(https://images.unsplash.com/photo-1435685813800-51ba4ceb9c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1785&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project4::after {
      content: "departure.";
      font-family: "NPR";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
}

@media(max-width: 768px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after {
            display: none;
      }
}

/*--------------- footer section --------------- */

.collab {
      /*text-align: right;*/
      color: rgba(255, 255, 255, 0.3);
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
}

.info p {
      font-size: 0.7rem;
      color: grey;
}

.info li {
      font-weight: lighter;
      color: #fff;
      font-size: 18px;
      padding-left: 20px;
}

@media(max-width: 768px) {
      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content p {
      font-weight: 300;
      line-height: 36px;
      color: white;
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
}

.image {
      background: url(images/info-bg.jpg) no-repeat;
      background-size: cover;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}

/* Hero Banner */

.hero-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.hero-img img {
  width: 100%;
}
@media (max-width: 900px) {
  .hero-img {
    width: 95vw;
    transform: translate(-50%, -84%);
  }
}

.hero-title {
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title h1 {
  font-size: 90px;
  font-weight: lighter;
  text-transform: uppercase !important;
  color: white;
}

@media (max-width: 900px) {
  .hero-title .letter {
    font-size: 40px !important;
  }
}

.hero-title .letter {
  display: inline-block;
  opacity: 0;
  font-size: 90px;
  color: white;
  font-family: "NPB";
  text-transform: uppercase !important;
}

.intro {
  padding: 0 30%;
  color: grey;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* Hover Effect */

.navigation-wrapper ul {
  margin-top: 100px;
  margin-left: 2em;
  margin-bottom: 120px;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}

.navigation-item {
  display: block;
  user-select: none;
  margin: 10px 0;
}

.navigation-list a {
  font-family: "NPB";
  font-size: 85px;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.navigation-list a:hover {
    text-decoration: none;
    color: transparent;
}

.navigation-list span {
  position: relative;
  display: block;
  line-height: 1;
}

.navigation-item span:before {
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover:before {
  width: 100%;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 900px) {
  .navigation-list a {
    font-size: 35px;
  }
}

/* Overlay Navigation */

.hero-logo {
  position: fixed;
  margin: 32px;
  font-family: "NPR";
  text-transform: uppercase;
  font-size: 0.7rem;
  z-index: 2;
}
.hero-logo a {
  color: white;
}
.hero-logo a:hover {
  transition: all 0.5s ease;
  color: rgb(0, 255, 0);
  text-decoration: none;
}
@media (max-width: 900px) {
  .hero-logo {
    display: none;
  }
}

.menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  margin: 32px;
  color: white;
  z-index: 3;
}
.menu-toggle:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .menu-toggle {
    font-size: 1.2rem;
  } 
}

.close-btn {
  z-index: 3; 
}
.close-btn:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .close-btn {
    font-size: 1.2rem;
  }
}

.menu-toggle ion-icon {
  font-style: 16px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}

.overlay ion-icon {
  position: fixed;
  right: 0;
  margin: 32px;
  color: white;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.overlay ul li {
  font-size: 85px;
}

@media (max-width: 900px) {
  .overlay ul li {
    font-size: 35px;
    padding: 10px 0;
  }
}

.overlay ul li a {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: "NPB";
  text-transform: uppercase !important;
}

.overlay ul li a:hover {
  text-decoration: none;
  color: white;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 32px;
  z-index: 2;
}

.media ul {
  list-style: none;
}

.media ul li {
  padding: 0 0 0 10px;
}

.media ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.media ul li a:hover {
  transition: all 0.5s ease;
  color: rgb(0, 255, 0);
  text-decoration: none;
}
.ref-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.view-photos {
  position: absolute;
  left: 0;
  bottom: 1em;
  margin: 32px;
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.view-photos a {
  color: white;
}

.view-photos a:hover {
  transition: all 0.5s ease;
  color: rgb(0, 255, 0);
  text-decoration: none;
}

/* Sticky Nav */

#menu {
  font-family: "NPB";
  background: #0f0f0f; 
  color: white; 
  padding: 1em; 
  width: 100%;
  display: none; 
  position: fixed; 
  top: 0;
  text-align: center;
  z-index: 2;
}
#menu a {
  color: white;
}
#menu a:hover {
  transition: all 0.5s ease;
  color: white;
  opacity: 0.5;
  text-decoration: none;
}


/* Footer */

.footer-title {
  text-align: left;
  text-transform: uppercase;
  font-family: "NPB";
  color: grey;
  font-size: 0.8rem;
}

.footer {
  margin: 32px;
  line-height: 1.3;
}
.collab p {
  color: white;
  padding-right: 65px;
  font-size: 1.2rem;
}
.collab a {
  color: white;
}
.collab a:hover {
  transition: all 0.5s ease;
  color: rgb(0, 255, 0);
  text-decoration: none;
}
.info a {
  color: grey;
}
.info a:hover {
  transition: all 0.5s ease;
  color: grey;
  opacity: 0.5;
  text-decoration: none;
}

/* Info Page */

.info-page {
  margin: 32px;
}
.banner > .row {
  margin-right: auto !important;
}
.info-page p {
  font-size: 1rem;
  line-height: 1.3;
}
.hero-content .row {
  margin-right: auto !important;
}
.info-title {
  text-transform: uppercase;
}
.hero-content a {
  color: white;
}
.hero-content a:hover {
  transition: all 0.5s ease;
  color: white;
  opacity: 0.5;
  text-decoration: none;
}